body{
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(252, 180, 47), pink);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}
.dream-area{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-ex{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 400px;
    background-color: white;
}
.ex-area{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#fully-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,lightblue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}